<div #spinnerContainer>
  <div #spinner>
    <div *ngIf="shouldSpin$ | async;else content" fxLayout="row" fxLayoutAlign="center center" class="content">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </div>
  <ng-template #content>
    <ng-content></ng-content>
  </ng-template>
</div>
