<ac-page-wrapper>
  <form [formGroup]="loginForm" fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card fxFlex="0 1 400px">
      <mat-card-title>Login</mat-card-title>
      <ac-spinner [spin]="loading$ | async" [lock]="true">
        <mat-card-content fxLayout="column">
          <p *ngIf="showError$ | async" class="warn">We couldn't find that username/email or password</p>
          <mat-form-field>
            <input matInput placeholder="Login" formControlName="login">
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="login()">Login</button>
          <button mat-raised-button (click)="signup()">Sign up</button>
        </mat-card-actions>
      </ac-spinner>
    </mat-card>
  </form>
</ac-page-wrapper>
