/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "theme.scss";

body {
  margin: 0px;
  background-color: #fafafa;
}

.content {
  height: 100%;
}

.warn {
  color: mat-color($ac-warn);
}
