@import '~@angular/material/theming';
@include mat-core();

$ac-primary: mat-palette($mat-blue-grey);
$ac-accent:  mat-palette($mat-pink, 500, 900, A100);
$ac-warn:    mat-palette($mat-deep-orange);

$ac-theme: mat-light-theme($ac-primary, $ac-accent, $ac-warn);

@include angular-material-theme($ac-theme);
