<ac-page-wrapper>
  <form [formGroup]="signupForm" fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card fxFlex="0 1 400px">
      <mat-card-title>Signup</mat-card-title>
      <ac-spinner [lock]="true" [spin]="loading$ | async">
        <mat-card-content fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" >
            <mat-error>{{(errors$ | async)?.username}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" >
            <mat-error>{{(errors$ | async)?.email}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" >
            <mat-error>{{(errors$ | async)?.password}}</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input type="password" matInput placeholder="Verify Password" formControlName="verifyPassword" >
              <mat-error>{{(errors$ | async)?.verifyPassword}}</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!signupForm.valid" (click)="signup()">Submit</button>
        </mat-card-actions>
      </ac-spinner>
    </mat-card>
  </form>
</ac-page-wrapper>
